<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.StayFit">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.StayFit.diet_planner" />
        <activity android:name="com.example.StayFit.step_counter_activity" />
        <activity android:name="com.example.StayFit.activity7" />
        <activity android:name="com.example.StayFit.activity6" />
        <activity android:name="com.example.StayFit.activity5" />
        <activity android:name="com.example.StayFit.activity4" />
        <activity android:name="com.example.StayFit.activity3" />
        <activity android:name="com.example.StayFit.activity2" />
        <activity android:name="com.example.StayFit.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>